<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 350px;">
        <h3 class="text-center mb-4">Login</h3>

        <form  [formGroup]="loginForm" (ngSubmit)="login()" >
         <div class="mt-3">
              <label class="form-label fw-bold" for=""><i class="bi bi-envelope"></i>E-mail:</label>
              <input type="text" class="form-control shadow-sm" formControlName="email" [ngClass]="{'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}" placeholder="Insira o Email">
              <div class="invalid-feedback" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                 Digite um email válido.
              </div>
         </div>
         <div class="mt-3">
              <label class="form-label fw-bold" for=""><i class="bi bi-lock-fill"></i>Senha:</label>
              <input type="password" class="form-control shadow-sm" formControlName="senha" [ngClass]="{'is-invalid': loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched}" placeholder="Insira a Senha">
              <div class="invalid-feedback" *ngIf="loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched">
                 A senha é obrigatória
              </div>
         </div>

         <div class="d-flex justify-content-center align-items-center mt-3 gap-2">
               <button type="submit" class="btn btn-primary w-50">Login</button>
               <button class="btn btn-outline-info w-50" [routerLink]="['/cadastro']">Criar Conta</button>
         </div>


        </form>
        </div>

</div>

